In [4]:
import pandas as pd

In [2]:
#create a dataframe from scratch
pd.DataFrame({'Yes': [50,42], 'No': [25, 21]})

   Yes  No
0   50  25
1   42  21

In [5]:
#dataframes can also be strings
pd.DataFrame({'Nkem': ['Oha', 'Fufu'], 'Ola': ['Ewedu', 'Amala']})

   Nkem    Ola
0   Oha  Ewedu
1  Fufu  Amala

In [6]:
#to assign row labels, use the argument "index"
pd.DataFrame({'Nkem': ['Oha', 'Fufu'], 'Ola': ['Ewedu', 'Amala']}, index= ['Favorite Soup', 'Favorite Swallow'])

                  Nkem    Ola
Favorite Soup      Oha  Ewedu
Favorite Swallow  Fufu  Amala

In [7]:
#to create a series
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
#a series can also be made up of strings
pd.Series(['Beans', 'Rice', 'Yam', 'Plantain'])

0       Beans
1        Rice
2         Yam
3    Plantain
dtype: object

In [9]:
#we can also assign row labels to a series using "index"
pd.Series([50,25,35], index=['Red Balls', 'White Balls', 'Green Balls'])

Red Balls      50
White Balls    25
Green Balls    35
dtype: int64

In [10]:
#pd.read_csv to read or import a csv file
substances= pd.read_csv('substances.csv')

In [12]:
#shape to show the size of the file, how many rows and how many columns
substances.shape

(61, 2)

In [13]:
substances.head()

            zinc_id                                        smiles
0  ZINC000017129255   C[C@@H](O)[C@@H](O)c1cnc2nc(N)[nH]c(=O)c2n1
1  ZINC000017129259    C[C@@H](O)[C@H](O)c1cnc2nc(N)[nH]c(=O)c2n1
2  ZINC000017129257    C[C@H](O)[C@@H](O)c1cnc2nc(N)[nH]c(=O)c2n1
3  ZINC000018275062     C[C@H](O)[C@H](O)c1cnc2nc(N)[nH]c(=O)c2n1
4  ZINC000006694123  CSc1nc2ncc([C@@H](O)[C@@H](C)O)nc2c(=O)[nH]1

In [14]:
#to specify what column should be your index column
sub= pd.read_csv('substances.csv', index_col=0)

In [15]:
sub.head()

                                                        smiles
zinc_id
ZINC000017129255   C[C@@H](O)[C@@H](O)c1cnc2nc(N)[nH]c(=O)c2n1
ZINC000017129259    C[C@@H](O)[C@H](O)c1cnc2nc(N)[nH]c(=O)c2n1
ZINC000017129257    C[C@H](O)[C@@H](O)c1cnc2nc(N)[nH]c(=O)c2n1
ZINC000018275062     C[C@H](O)[C@H](O)c1cnc2nc(N)[nH]c(=O)c2n1
ZINC000006694123  CSc1nc2ncc([C@@H](O)[C@@H](C)O)nc2c(=O)[nH]1

In [16]:
#to call a specific column by its property
substances.smiles

0       C[C@@H](O)[C@@H](O)c1cnc2nc(N)[nH]c(=O)c2n1
1        C[C@@H](O)[C@H](O)c1cnc2nc(N)[nH]c(=O)c2n1
2        C[C@H](O)[C@@H](O)c1cnc2nc(N)[nH]c(=O)c2n1
3         C[C@H](O)[C@H](O)c1cnc2nc(N)[nH]c(=O)c2n1
4      CSc1nc2ncc([C@@H](O)[C@@H](C)O)nc2c(=O)[nH]1
                          ...
56    Nc1nc2c(c(=O)[nH]1)N=C([C@H](O)[C@H](O)CO)CN2
57    Nc1nc2c(c(=O)[nH]1)NC([C@H](O)[C@H](O)CO)=CN2
58                  Nc1nc(O)c2nc([C@@H](O)CO)cnc2n1
59            C/C(O)=C(/O)C1=Nc2c(nc(N)[nH]c2=O)NC1
60                       CC(C)Cc1cnc2nc(N)nc(N)c2n1
Name: smiles, Length: 61, dtype: object

In [17]:
#to call a specific column by its column name
substances['smiles']

0       C[C@@H](O)[C@@H](O)c1cnc2nc(N)[nH]c(=O)c2n1
1        C[C@@H](O)[C@H](O)c1cnc2nc(N)[nH]c(=O)c2n1
2        C[C@H](O)[C@@H](O)c1cnc2nc(N)[nH]c(=O)c2n1
3         C[C@H](O)[C@H](O)c1cnc2nc(N)[nH]c(=O)c2n1
4      CSc1nc2ncc([C@@H](O)[C@@H](C)O)nc2c(=O)[nH]1
                          ...
56    Nc1nc2c(c(=O)[nH]1)N=C([C@H](O)[C@H](O)CO)CN2
57    Nc1nc2c(c(=O)[nH]1)NC([C@H](O)[C@H](O)CO)=CN2
58                  Nc1nc(O)c2nc([C@@H](O)CO)cnc2n1
59            C/C(O)=C(/O)C1=Nc2c(nc(N)[nH]c2=O)NC1
60                       CC(C)Cc1cnc2nc(N)nc(N)c2n1
Name: smiles, Length: 61, dtype: object

In [18]:
#to call the specific row of a specific column
substances['smiles'][0]

'C[C@@H](O)[C@@H](O)c1cnc2nc(N)[nH]c(=O)c2n1'

In [19]:
#to select the first row of any data
substances.iloc[0]

zinc_id                               ZINC000017129255
smiles     C[C@@H](O)[C@@H](O)c1cnc2nc(N)[nH]c(=O)c2n1
Name: 0, dtype: object